<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form action="http://localhost:7878/post" method="post">
    <h2>Create new post</h2>
    <input placeholder="enter username" type="text" name="username" id="">
    <br><br>
    <textarea placeholder="enter content" name="content" id=""></textarea>
    <br><br>
    <button>submit</button>
    </form>
</body>
</html>